
<div class="carousel-container">
        <div class="titrefilm">Nos Films</div>
        <div class="carousel">
          <a href="lll" class="carousel-item">
            <div class="image-container">
              <img
                src="https://i.ibb.co/h9X4Fb2/La-Grande-R-v-lation.jpg"
                alt="Affiche"
              />
            </div>
            <div class="movie-title">La Grande Révélation</div>
          </a>
          <a href="#" class="carousel-item">
            <div class="image-container">
              <img
                src="https://i.ibb.co/MsDKMMR/4a713bad-8b3f-4590-a36b-208b78c65901.jpg"
                alt="Affiche"
              />
            </div>
            <div class="movie-title">Face aux difficultés</div>
          </a>
          <a href="#" class="carousel-item">
            <div class="image-container">
              <img
                src="https://i.ibb.co/cgZPRk5/Le-myst-re-de-l-afaire-Joseline-P-tunia.png"
                alt="Affiche"
              />
            </div>
            <div class="movie-title">
              Le mystére de l'affaire Joseline Pétunia
            </div>
          </a>
          <a href="#" class="carousel-item">
            <div class="image-container">
              <img
                src="https://i.ibb.co/xXnGL1H/Anniversaire-surprise-pour-Chantal.jpg"
                alt="Affiche"
              />
            </div>
            <div class="movie-title">Anniversaire suprise pour Chantal</div>
          </a>
          <a href="#" class="carousel-item">
            <div class="image-container">
              <img
                src="https://i.ibb.co/h1YWcX3/74-ans-G-rard.jpg"
                alt="Affiche"
              />
            </div>
            <div class="movie-title">74 ans Gérard</div>
          </a>
          <a href="#" class="carousel-item">
            <div class="image-container">
              <img
                src="https://i.ibb.co/zsNypQ3/l-imposteur-adams.jpg"
                alt="Affiche"
              />
            </div>
            <div class="movie-title">L'imposteur Adams</div>
          </a>
          <a href="#" class="carousel-item">
            <div class="image-container">
              <img src="https://i.ibb.co/KqXr1Ss/requin.png" alt="Affiche" />
            </div>
            <div class="movie-title">Le Requin</div>
          </a>
          <a href="#" class="carousel-item">
            <div class="image-container">
              <img
                src="https://i.ibb.co/Tv125hp/50-ans-David.jpg"
                alt="Affiche"
              />
            </div>
            <div class="movie-title">50 ans David</div>
          </a>
          <a href="#" class="carousel-item">
            <div class="image-container">
              <img
                src="https://i.ibb.co/QpBb6rs/Design-sans-titre.jpg"
                alt="Affiche"
              />
            </div>
            <div class="movie-title">Noêl au Collège</div>
          </a>
        </div>
        <div class="controls">
          <button id="prev">←</button>
          <button id="next">→</button>
        </div>
      </div>
